<form id="todoEdit-form" method="dialog" action="/todos/edit/" class="form-group mx-auto px-2 gap-3">
	<input type="hidden" name="todoId" id="modalId" />
	<div class="form-floating mb-3">
		<select name="petName" id="modalPet" class="form-select"
		title="Pick a pet, or create one in the dashboard">
		<% pets.forEach( el=> { %>
			<% if (el.petName==todos.petName) {%>
				<option value="<%= el.petName %>" selected>
					<%= el.petName %>
				</option>
				<% } else { %>
					<option value="<%= el.petName %>">
						<%= el.petName %>
					</option>
					<%}%>
		<% }) %>
	</select>
	<label for="modalPet">Pet for this task:</label>
	</div>

	<!-- Date picker -->
	<div class="mb-3 text-start">
		<label for="modalDate" class="fs-5 form-label">Pick a new date, or keep the current one.</label>
		<input class="form-control col-form" type="date" name="date" id="modalDate" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date().toISOString().slice(0, 10) %>" required>
	</div>

	<!-- FORMAT: -->
	<fieldset class="list-group mx-0 w-auto rounded-top" role="radiogroup" aria-required="true">
		<legend class="text-start fs-5">Pick a pre-made task or type one below
		</legend>
		<%- include('todoitem-form-radio.ejs', {id: "editradio1" , value: "Feed pet" ,
			icon: "fa-bowl-food" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "editradio2" , value: "Give fresh water" , icon: "fa-droplet" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "editradio3" , value: "Give medicine" , icon: "fa-pills" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "editradio4" , value: "Change litter" , icon: "fa-sack-xmark" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "editradio5" , value: "Scoop litter" , icon: "fa-person-digging" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "editradio6" , value: "Go for a walk" , icon: "fa-dog" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "editradio7" , value: "Play!" , icon: "fa-baseball" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "editradio8" , value: "Vet appointment" , icon: "fa-notes-medical" }) %>

		<!-- custom input -->
		<div class="list-group-item justify-content-between d-flex flex-wrap py-3">
			<label class="d-flex gap-2 mb-1">
				<input class="form-check-input flex-shrink-0" type="radio" aria-label="Select to edit or input a custom task" name="todoItem" id="modal-otherTodo" checked  value="">
				<i class="fa-solid mt-1 fa-marker text-muted"></i>Custom task
			</label>
			<div class="d-inline mt-1">
				<input id="modal-inputOtherTodo" class="form-control" aria-label="Text input for your custom task" />
			</div>
		</div>
	</fieldset>
		
	<div class="mt-2 d-flex justify-content-between flex-wrap">
		<button id="todoEdit-dismiss" type="button" class="btn btn-lg btn-secondary mt-2" data-bs-dismiss="modal">Close</button>
		<button type="submit" id="todoEdit-button" class="btn btn-lg btn-success mt-2">Submit</button>
	</div>
</form>