<form id="todo-form" action="/todos/createTodo" method="POST" class="form-group mx-auto px-2 gap-3">
	<div class="form-floating mt-3 mb-3">
		<select name="petName" id="petSelect" class="form-select"
			title="Pick a pet, or create one in the dashboard">
			<% pets.forEach( el=> { %>
				<option value="<%= el.petName %>">
					<%= el.petName %>
				</option>
			<% }) %>
		</select>
		<label for="petSelect">Pick a pet</label>
	</div>
	<div class="mb-3 text-start">
		<label for="create-date" class="col-form-label fs-5">Pick a date, or leave it
			blank to add to this day's list.</label>
		<input class="form-control mx-auto" type="date" name="date" id="create-date" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date().toISOString().slice(0, 10) %>" required>
	</div>

	<!-- FORMAT: -->
	<fieldset class="list-group mx-0 w-auto rounded-top" role="radiogroup" aria-required="true">
		<legend class="text-start fs-5">Pick a pre-made task or type one below
		</legend>
		<%- include('todoitem-form-radio.ejs', {id: "radio1" , value: "Feed pet" ,
			icon: "fa-bowl-food" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio2" , value: "Give fresh water" , icon: "fa-droplet" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio3" , value: "Give medicine" , icon: "fa-pills" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio4" , value: "Change litter" , icon: "fa-sack-xmark" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio5" , value: "Scoop litter" , icon: "fa-person-digging" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio6" , value: "Go for a walk" , icon: "fa-dog" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio7" , value: "Play!" , icon: "fa-baseball" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio8" , value: "Vet appointment" , icon: "fa-notes-medical" }) %>

		<!-- custom input -->
		<div class="list-group-item justify-content-between d-flex flex-wrap">
		<label class="d-flex gap-2">
			<input class="form-check-input flex-shrink-0" type="radio" aria-label="Select to input a custom task" name="todoItem" id="otherTodo" value="" required>
			<span>
				<i class="fa-solid fa-marker text-muted"></i>
				Custom task
			</span>
		  </label>
		  	<div class="d-inline w-100 mt-2 mb-2">
			  <input id="inputOtherTodo" type="text" class="form-control"
			  aria-label="Text input for your custom task" />
			</div>
		</div>

		
	</fieldset>
	<div class="mt-3 d-flex justify-content-between flex-wrap">
	<button type="button" class="btn btn-lg btn-secondary mt-2" data-bs-dismiss="modal">Close</button>
	<input type="submit" class="btn btn-lg btn-success mt-2">
	</div>
</form>
