<form id="todo-form" action="/todos/createTodo" method="POST" class="form-group mx-auto gap-3">
	<div class="form-floating mt-3 mb-3">
		<select name="petName" id="petSelect" class="form-select"
			title="Pick a pet, or create one in the dashboard">
			<% pets.forEach( el=> { %>
				<% if (el.petName==todos.petName) {%>
					<option value="<%= el.petName %>" selected>
						<%= el.petName %>
					</option>
					<% } else { %>
						<option value="<%= el.petName %>">
							<%= el.petName %>
						</option>
						<%}%>
							<% }) %>
		</select>
		<label for="petSelect">Pick a pet</label>
	</div>
	<div class="mb-3 text-start">
		<label for="date" class="col-form-label">Pick a date, or leave it
			blank to add to today's list.</label>
		<input class="form-control col-form" type="date" name="date" id="date" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date().toISOString().slice(0, 10) %>">
	</div>

	<!-- FORMAT: -->
	<fieldset class="row px-2" role="radiogroup" aria-required="true">
		<legend class="text-start fs-6 px-1">Pick a pre-made task or type one below
		</legend>
		<%- include('todoitem-form-radio.ejs', {id: "radio1" , value: "Feed pet" ,
			imglink: "https://www.svgrepo.com/show/295889/pet-food-paw.svg" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio2" , value: "Give fresh water" , imglink: "https://www.svgrepo.com/show/36235/water.svg" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio3" , value: "Give medicine" , imglink: "https://www.svgrepo.com/show/65020/medicine.svg" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio4" , value: "Change litter" , imglink: "https://www.svgrepo.com/show/408523/cat-litter-sand.svg" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio5" , value: "Scoop litter" , imglink: "https://www.svgrepo.com/show/408519/cat-litter-box.svg" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio6" , value: "Go for a walk" , imglink: "https://www.svgrepo.com/show/86881/walking-the-dog.svg" }) %>

		<%- include('todoitem-form-radio.ejs', {id: "radio7" , value: "Play!" , imglink: "https://www.svgrepo.com/show/64872/cat-toy.svg" }) %>

		<!-- custom input -->
		<div class="px-1 py-1 mx-auto list-group list-group-checkable d-grid border-0 w-100">
			<input type="radio" name="todoItem" id="otherTodo"
				class="list-group-item-check pe-none">
			<label
				class="px-3 list-group-item d-flex justify-content-between rounded-3 align-items-center px-1 py-3"
				for="otherTodo">Custom task:
				<!-- javascript adds the inner text of this input to the radio button which will be the one submitted -->
				<input id="inputOtherTodo" type="text" class="form-control mx-2"
					aria-labelledby="otherTodo" />
			</label>
		</div>
	</fieldset>
	<input type="submit" class="btn btn-lg btn-success mt-3 mx-auto" id="todoEditButton">
</form>
