<input type="radio" class="btn-check" name="todoItem" id="<%= id %>" value="<%= value %>" required>
<label class="btn btn-outline-success" for="<%= id %>"><i class="fa-solid <%= icon %>"></i> <%= value %></label>  

