<div class="col col-md-6 col-xl-4  list-group list-group-checkable d-grid border-0 w-100">
	<input type="radio" name="todoItem" id="<%= id %>" value="<%= value %>"
	  class="list-group-item-check pe-none" required>
	<label aria-hidden="true"
	  class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3"
	  for="<%= id %>">
	  <%= value %>
	  <img src="<%= imglink %>" width="50" height="50">
	</label>
  </div>