<%- include("partials/header", {title: "Dashboard"}); %>

<body class="puppy-paw-background">
  <%- include('partials/nav', {active: "dashboard"}) %>
    <% if (locals.messages.errors) { %>
    <div class="alertdiv" role="alert">
        <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
                <%= el.msg %>
            </div>
            <% }) %>
    </div>
    <% } %>

        <% if (locals.messages.info) { %>
            <div role="alert" class="infodiv">
                <% messages.info.forEach( el=> { %>
                    <div class="alert alert-danger">
                        <%= el.msg %>
                    </div>
                    <% }) %>
            </div>
            <% } %>


  
  <main class="container" id="content">
    <h1 class="text-success my-2"><%= user.userName %>'s Dashboard</h1>

    <div class="row w-auto mx-2 justify-content-start gap-3">
      <div class="col-12 col-md-4 px-0 list-group">

        <div class="list-group-item d-flex flex-wrap justify-content-between gap-1">
          <div>
            <i class="fa-solid fa-book-open-reader mt-1 mb-1 text-success fa-2xl"></i>
            <p>
              You have <span class="text-success"><strong><%= (left > 0) ? left : "no" %> <%= (left > 1) ? "tasks" : "task" %></strong></span> left today
            </p>
          </div>

          <div class="d-flex flex-wrap flex-column justify-content-between gap-2 mb-2">
            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#createTodo-modal" aria-expanded="false" aria-controls="createTodo-modal">
              <i class="fa-solid fa-circle-plus"></i> Add task 
              <span class="visually-hidden">, this opens a modal</span>
            </button>

            <a class="btn btn-outline-success" href="/todos">View today's list</a>
          </div>
        </div>

        <div class="list-group-item d-flex flex-wrap justify-content-between gap-1">
          <div>
            <i class="fa-solid fa-calendar-days mt-1 mb-1 text-success fa-2xl"></i>
            <p id="datepicker-label">Filter tasks by date</p>
          </div>
          <div class="d-flex w-auto justify-content-between">
              <form action="/todos/getDate/" method="post" class="mb-2">
                <input class="form-control form" type="date" name="date" id="date" 
                value="" aria-labelledby="datepicker-label" required>
                <button type="submit" class="btn btn-outline-success mt-2 w-100">See selected date</button>
              </form>
          </div>
        </div>
      </div>

      <!-- Pet table -->
      <div class="col px-0">
        <div class="card" style="min-height: 20rem;">
          <div class="card-header">
            <div class="d-flex align-items-center mb-2">
              <i class="fa-solid fa-paw text-success mt-1 fa-2xl me-3 align-self-baseline"></i>
              <h2 class="text-success d-inline card-title">
              You have <%= petCount %> <%= (petCount > 1) ? "pets" : "pet" %>.
              </h2>
            </div>
            <button class="btn btn-success my-2" type="button" data-bs-toggle="modal" data-bs-target="#createPet-modal" aria-expanded="false" aria-controls="createPet-modal">
              <i class="fa-solid fa-circle-plus"></i> Add pet
              <span class="visually-hidden">, this opens a modal</span>
            </button>
          </div>
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills mt-3" role="tablist">
              <% pets.forEach (el=> { %>
                <li class="nav-item me-1" role="presentation">
                  <button class="nav-link"
                  id="tab-<%=el._id%>" 
                  data-bs-toggle="tab" 
                  data-bs-target="#tab-pane-<%=el._id%>" 
                  type="button" role="tab" 
                  aria-controls="tab-pane-<%=el._id%>" 
                  aria-selected="true">
                  <%= el.petName %>
                </button>
                </li>
                <% }) %>
            </ul>
          </div>
            
          <div class="tab-content card border-0">
            <% pets.forEach (el=> { %>
            <div class="tab-pane fade" id="tab-pane-<%=el._id%>" role="tabpanel" aria-labelledby="tab-<%=el._id%>" tabindex="0">
              <div class="card-body">
                <p class="card-title fs-5">
                  Pet: <strong><%= el.petName %></strong>
                </p>
              </div>
              <ul class="list-group list-group-flush" aria-label="Your pet details">
                <li class="list-group-item">
                  <i class="fa-solid fa-paw text-muted"></i>
                  Breed: <%= el.petBreed %>
                </li>
                <li class="list-group-item">
                  <i class="fa-solid fa-cake-candles text-muted"></i>
                  Birthday: <%= el.petBirthday %>
                </li>
                <li class="list-group-item">
                  <i class="fa-solid fa-gift text-muted"></i>
                  Age: <%= el.petAge %></li>
              </ul>
              <div class="card-footer d-flex flex-wrap justify-content-end" style="gap: 1rem;">
                  <button class="btn btn-outline-success" data-bs-toggle="modal" 
                  data-bs-target="#petEdit-modal" 
                  data-id='<%=el._id%>' 
                  data-name='<%=el.petName%>' 
                  data-breed='<%=el.petBreed%>' 
                  data-birthday='<%=el.petBirthday%>' 
                  data-age='<%=el.petAge%>'>
                    <i class="fa-solid fa-pen-to-square"></i>
                    Edit pet
                  </button>
                  
                  <button class="btn btn-danger" 
                  data-bs-toggle="modal" 
                  data-bs-target="#petDelete-modal" 
                  data-id="<%=el._id%>" 
                  data-name="<%=el.petName%>">
                    <i class="fa-solid fa-trash"></i>
                    Delete pet
                  </button>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include("partials/modal-blank", {id: "createPet-modal", title: "Create a pet", textcolor: " ", partial: "form-pet-create", footer: "no" }) %>

  <%- include("partials/modal-blank", {id: "createTodo-modal", title: "Create a task", textcolor: " ", partial: "form-todo-create", footer: "no" }) %>

  <%- include("partials/modal-blank", {id: "petEdit-modal", title: "Edit a pet", textcolor: "text-success", partial: "form-pet-edit", footer: "no" }) %>

  <%- include("partials/modal-blank", {id: "petDelete-modal", title: "Delete a pet", textcolor: "text-danger", partial: "form-pet-delete", footer: "no" }) %>   

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="js/pet.js"></script>
</body>

</html>