<%- include("partials/header", {title: "Edit task"}); %>

<body class="puppy-paw-background">
  <%- include('partials/nav.ejs', {active: ""}) %>

  <!--Todo Table-->
  <%if (todos.todo) {%>
    <div class="px-4 py-5 text-center col-lg-8 col-md-10 mx-auto">
      <h1 class="text-success mb-3">Edit your task.</h1>
      <h2 class="text-success">Current task:</h2>
      <p class="lead">Pet: <%= todos.petName %>. <br>
          <%= todos.todo %> on <%= todos.date.toLocaleDateString('en', { year: 'numeric' , month: 'short' ,
              day: '2-digit' }) %>
      </p>
      <img class="mb-3 mt-3" src="https://www.svgrepo.com/show/177647/clipboard-list.svg" aria-hidden="true" width="50"
        height="50">

      <div class="mx-auto" aria-labelledby="addtask" role="form">
        <!--Todo Form-->
        <form action="/todos/edit/" method="POST" class="mb-0 mx-4 w-auto" data-id='<%=todos._id%>'>
          <!--Hidden field with a special name and value for method-override -->
          <input type="hidden" name="_method" value="put">
          <label for="petSelect" class="col-form-label col-form-label-lg mt-2">Pick a pet</label>
          <select name="petName" id="petSelect" class="form-select mx-auto col col-md-8 col-xl-6"
            title="Pick a pet, or create one in the dashboard">
            <% pets.forEach( el=> { %>
              <% if (el.petName==todos.petName) {%>
                <option value="<%= el.petName %>" selected>
                  <%= el.petName %>
                </option>
                <% } else { %>
                  <option value="<%= el.petName %>">
                    <%= el.petName %>
                  </option>
                  <%}%>
                    <% }) %>
          </select>

          <!-- Date picker -->
          <!-- If not used, it'll submit the same date -->
          <div class="mx-auto col col-md-8 col-xl-6">
            <label for="date" class="col-form-label col-form-label-lg mt-4 mb-3">Pick a date, or leave it blank to keep
              <%= todos.date.toLocaleDateString('en', { year: 'numeric' , month: 'short' , day: '2-digit' }) %>.</label>
            <duet-date-picker identifier="date" value="<%=todos.date%>"></duet-date-picker>
          </div>


          <!-- FORMAT: -->
          <fieldset class="row" role="radiogroup" aria-required="true">
            <legend class="col-form-label col-form-label-lg mb-3">Pick a pre-made task or type one below</legend>
            <div class="col col-md-6 col-xl-4 list-group list-group-checkable d-grid border-0 w-100">
              <!-- input: mind name (field to be submitted), value (will be submitted to db) and id -->
              <input type="radio" name="todoItem" id="optionsRadios1" value="Feed pet"
                class="list-group-item-check pe-none" required>
              <!-- label: image (with alt) goes inside, mind the "for" with matching ID -->
              <label aria-hidden="true"
                class="list-group-item d-flex justify-content-between rounded-3 align-items-center py-3"
                for="optionsRadios1">
                Feed pet
                <img src="https://www.svgrepo.com/show/295889/pet-food-paw.svg" width="50" height="50">
              </label>
            </div>

            <!-- format repeats -->
            <div class="col col-md-6 col-xl-4  list-group list-group-checkable d-grid border-0 w-100">
              <input type="radio" name="todoItem" id="optionsRadios2" value="Give fresh water"
                class="list-group-item-check pe-none" required>
              <label aria-hidden="true"
                class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3"
                for="optionsRadios2">
                Give fresh water
                <img src="https://www.svgrepo.com/show/36235/water.svg" width="50" height="50">
              </label>
            </div>

            <div class="col col-md-6 col-xl-4  list-group list-group-checkable d-grid border-0 w-100">
              <input type="radio" name="todoItem" id="optionsRadios3" value="Give medicine"
                class="list-group-item-check pe-none" required>
              <label aria-hidden="true"
                class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3"
                for="optionsRadios3">
                Give medicine
                <img src="https://www.svgrepo.com/show/65020/medicine.svg" width="50" height="50">
              </label>
            </div>

            <div class="col col-md-6 col-xl-4  list-group list-group-checkable d-grid border-0 w-100">
              <input type="radio" name="todoItem" id="optionsRadios4" value="Change litter"
                class="list-group-item-check pe-none" required>
              <label aria-hidden="true"
                class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3"
                for="optionsRadios4">
                Change litter
                <img src="https://www.svgrepo.com/show/408523/cat-litter-sand.svg" width="50" height="50">
              </label>
            </div>

            <div class="col col-md-6 col-xl-4  list-group list-group-checkable d-grid border-0 w-100">
              <input type="radio" name="todoItem" id="optionsRadios5" value="Scoop litter"
                class="list-group-item-check pe-none" required>
              <label aria-hidden="true"
                class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3"
                for="optionsRadios5">
                Scoop litter
                <img src="https://www.svgrepo.com/show/408519/cat-litter-box.svg" width="50" height="50">
              </label>
            </div>

            <div class="col col-md-6 col-xl-4  list-group list-group-checkable d-grid border-0 w-100">
              <input type="radio" name="todoItem" id="optionsRadios6" value="Go for a walk"
                class="list-group-item-check pe-none" required>
              <label aria-hidden="true"
                class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3"
                for="optionsRadios6">
                Go for a walk
                <img src="https://www.svgrepo.com/show/86881/walking-the-dog.svg" width="50" height="50">
              </label>
            </div>

            <div class="col col-md-auto list-group list-group-checkable d-grid border-0 w-100">
              <input type="radio" name="todoItem" id="optionsRadios7" value="Play!"
                class="list-group-item-check pe-none" required>
              <label aria-hidden="true"
                class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3"
                for="optionsRadios7">
                Play! Exercise that furbaby!
                <img src="	https://www.svgrepo.com/show/64872/cat-toy.svg" width="50" height="50">
              </label>
            </div>

            <!-- custom input -->
            <div class="list-group list-group-checkable d-grid border-0 w-100">
              <input type="radio" name="todoItem" id="otherTodo" value="<%= todos.todo %>" checked=""
                class="list-group-item-check pe-none">
              <label class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3"
                for="otherTodo">Custom task:
                <!-- javascript adds the inner text of this input to the radio button which will be the one submitted -->
                <input id="inputOtherTodo" type="text" class="form-control" aria-labelledby="otherTodo"
                  value="<%= todos.todo %>" />
              </label>
            </div>
          </fieldset>
    <input type="submit" class="btn btn-lg btn-primary mt-3" id="todoEditButton">
    </form>
    <% } else { %>
      <div class="px-4 py-5 mx-3 text-center">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="card">
            <div class="card-header">
              <img class="mb-2 mt-2" src="https://www.svgrepo.com/show/126218/pet.svg" alt="Pet paw" width="50"
                height="50">
              <h1 class="text-danger mb-3 mt-2">No task found.</h1>
            </div>
            <div class="card-content">
              <p class="lead mt-5">
                Why don't you create a new task or edit one of your own?
              </p>
              <a class="btn btn-lg btn-danger mt-3 mb-5 w-auto" href="/todos">Go back to the to-do list</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      <%}%>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
          integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
          crossorigin="anonymous"></script>
        <script type="javascript" src="js/edit.js"></script>
        <script src="/js/todo.js"></script>
</body>

</html>