<%- include("partials/header", {title: "Edit task"}); %>

<body class="puppy-paw-background">
  <%- include('partials/nav.ejs', {active: ""}) %>

  <!--Todo Table-->
  <%if (todos.todo) {%>
    <div class="px-4 py-5 text-center col-lg-8 col-md-10 mx-auto">
      <h1 class="text-success mb-3">Edit your task.</h1>
      <h2 class="text-success">Current task:</h2>
      <p class="lead">Pet: <%= todos.petName %>. <br>
          <%= todos.todo %> on <%= todos.date.toLocaleDateString('en', { year: 'numeric' , month: 'short' ,
              day: '2-digit' }) %>
      </p>
      <img class="mb-3 mt-3" src="https://www.svgrepo.com/show/177647/clipboard-list.svg" aria-hidden="true" width="50"
        height="50">

      <div class="mx-auto" aria-labelledby="addtask" role="form">
        <!--Todo Form-->
        <%- include("partials/form-todo", {edit: true}); %>
    <% } else { %>
      <div class="px-4 py-5 mx-3 text-center">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="card">
            <div class="card-header">
              <img class="mb-2 mt-2" src="https://www.svgrepo.com/show/126218/pet.svg" alt="Pet paw" width="50"
                height="50">
              <h1 class="text-danger mb-3 mt-2">No task found.</h1>
            </div>
            <div class="card-content">
              <p class="lead mt-5">
                Why don't you create a new task or edit one of your own?
              </p>
              <a class="btn btn-lg btn-danger mt-3 mb-5 w-auto" href="/todos">Go back to the to-do list</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      <%}%>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
          integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
          crossorigin="anonymous"></script>
        <script type="javascript" src="js/edit.js"></script>
        <script src="/js/todo.js"></script>
</body>

</html>