<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
    <style>
    .completed{
        background-color: #ccc;}
        .completed div {
          background-color: #ccc;
        }
    .not{
        text-decoration: dotted underline #ccc; text-underline-offset: 0.2rem;}
    .del, .pet, .delpet {color: #000;}
    .form-select {
    display: block;
    width: 100%;
    padding: 0.5rem 3.3rem 0.5rem 1.1rem;
    -moz-padding-start: calc(1.1rem - 3px);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1.1rem center;
    background-size: 16px 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
    .list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.list-group-item-check:checked + .list-group-item {
    color: #fff;
    background-color: #17a2b8;
}
.list-group-checkable .list-group-item {
    cursor: pointer;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Pet Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/calendar">Calendar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="px-4 py-5 my-3 mx-3 text-center">
      <!-- users name -->
      <div>
          <h1 class="display-5 fw-bold mb-3"><%= user.userName %>'s Pet Helper list</h1>
          <p class="lead mb-4">Click on an item to mark it as completed or incomplete.</p>
      </div>

      <!-- todo list -->
      <div class="row mb-5">
          <div class="col-md-6 mb-4">
              <img class="mb-3" src="https://www.svgrepo.com/show/177662/clipboard-list.svg" alt="Clipboard with list" width="72" height="57">
              <p class="text-primary mb-3"><%= user.userName %> has <%= left %> thing(s) left to do.</p>
              <% todos.forEach( el => { %>
              <div class="list-group" data-id='<%=el._id%>'>
                <label class="list-group-item list-group-item-action flex-column align-items-start <%= el.completed === true ? 'completed' : 'not'%>" >
                  <input class="form-check-input mx-0" type="checkbox" value="" <%= el.completed === true ? 'checked' : ''%>>
                  <span class="mx-4">
                    <%= el.todo %>
                  </span>
                  
                    <span class='pet badge bg-warning rounded-pill'><%= el.petName %></span>
                    <span class="badge bg-info disabled rounded-pill"><%= el.date.toLocaleDateString('en', { year: 'numeric', month: 'short', day: '2-digit'}) %></span>
                    <span class='del badge lead bg-danger mx-4'> Delete </span>
                  </label>
              </div>
              <% }) %>   
          </div>

          <div class="col-md-6 mx-auto">
            <img class="mb-3" src="https://www.svgrepo.com/show/177647/clipboard-list.svg" alt="Clipboard with a pencil" width="72" height="57">
            <p class="text-primary mb-3">Add a task:</p>
            <form action="/todos/createTodo" method="POST" class="mb-0 mx-4 w-auto">
                <select name="petName" class="form-select mb-3">
                    <% pets.forEach( el => { %>
                        <option value="<%= el.petName %>"><%= el.petName %></option>
                <% }) %>     
                </select>
                <p class="mb-3 lead">Pick a pre-made task or type one below</p>
                <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                  <input type="radio" name="todoItem" id="optionsRadios1" value="Feed pet" checked="" class="list-group-item-check pe-none">
                  <label class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3" for="optionsRadios1">
                      Feed pet
    <img src="https://www.svgrepo.com/show/295889/pet-food-paw.svg" alt="Pet food" width="50" height="50">

                    </label>
                </div>
                <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                  <input type="radio" name="todoItem" id="optionsRadios2" value="Give fresh water" checked="" class="list-group-item-check pe-none">
                  <label class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3" for="optionsRadios2">
                    Give fresh water
                    <img src="https://www.svgrepo.com/show/36235/water.svg" alt="Tap water" width="50" height="50">
                  </label>
                </div>
      
                <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                  <input type="radio" name="todoItem" id="optionsRadios3" value="Give medicine" checked="" class="list-group-item-check pe-none">
                  <label class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3" for="optionsRadios3">
                    Give medicine
                    <img src="https://www.svgrepo.com/show/65020/medicine.svg" alt="Two medicine pills" width="50" height="50">
                  </label>
                </div>

                <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                  <input type="radio" name="todoItem" id="optionsRadios4" value="Change litter" checked="" class="list-group-item-check pe-none">
                  <label class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3" for="optionsRadios4">
                    Change litter
                    <img src="https://www.svgrepo.com/show/408523/cat-litter-sand.svg" alt="A pack of cat litter sand and a sand scoop" width="50" height="50">
                  </label>
                </div>
  
                <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                  <input type="radio" name="todoItem" id="optionsRadios5" value="Scoop litter" checked="" class="list-group-item-check pe-none">
                  <label class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3" for="optionsRadios5">
                    Scoop litter
                    <img src="https://www.svgrepo.com/show/408519/cat-litter-box.svg" alt="Cat litter box" width="50" height="50">
                  </label>
                </div>

                <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                  <input type="radio" name="todoItem" id="optionsRadios6" value="Go for a walk" checked="" class="list-group-item-check pe-none">
                  <label class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3" for="optionsRadios6">
                    Go for a walk
                    <img src="https://www.svgrepo.com/show/86881/walking-the-dog.svg" alt="A human walking their dog" width="50" height="50">
                  </label>
                </div>

                <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                  <input type="radio" name="todoItem" id="optionsRadios7" value="Play!" checked="" class="list-group-item-check pe-none">
                  <label class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3" for="optionsRadios7">
                    Play! Exercise that furbaby!
                    <img src="	https://www.svgrepo.com/show/64872/cat-toy.svg" alt="A ball of yarn" width="50" height="50">
                  </label>
                </div> 
                
                <div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                  <input type="radio" name="todoItem" id="otherTodo" value="other" checked="" class="list-group-item-check pe-none">
                  <label class="list-group-item d-flex justify-content-between  rounded-3 align-items-center py-3" for="otherTodo">Custom task:
                  <input id="inputOtherTodo" type="text"/>
                  </label>
                </div>
                
                <input type="submit" class="btn btn-lg btn-primary mt-3">
            </form>
          </div>
      </div>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="js/todo.js"></script>
</body>
</html>