<%- include("partials/header", {title: "Daily to-do list"}); %>

<body class="puppy-paw-background">
  <%- include('partials/nav.ejs', {active: "todos"}) %>
  
  <!-- Modals -->
  <%- include("partials/modal-blank", {id: "createTodo-modal", title: "Create a task", textcolor: " ", partial: "form-todo-create", footer: "no" }) %>

  <%- include("partials/modal-blank", {id: "todoEdit-modal", title: "Edit a task", textcolor: "text-success", partial: "form-todo-edit", footer: "no" }) %>

  <%- include("partials/modal-blank", {id: "todoDelete-modal", title: "Delete a task", textcolor: "text-danger", partial: "form-todo-delete", footer: "no" }) %> 

<main id="content">
  <!-- previous/next dates -->
  <div class="row mx-2">
      <div class="d-flex justify-content-between mt-3 gap-2">

        <form action="/todos/previous/" method="post" id="previous" role="button" class="mb-3 w-auto">
          <input type="hidden" name="date" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date().toISOString().slice(0, 10) %>">
          <button type="submit" class="btn btn-outline-success" id="previousButton"><i class="fa-solid fa-angle-left"></i> Previous Day</button>  
        </form>
        
        <form action="/todos/next/" method="post" id="next" role="button" class="mb-3 w-auto">
          <input type="hidden" name="date" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date().toISOString().slice(0, 10) %>">
          <button type="submit" class="btn btn-outline-success" id="nextButton">Next Day <i class="fa-solid fa-angle-right"></i></button>  
        </form>
      </div>
  </div>

  <!-- todo list -->
  <div class="row mx-2 mb-4">
    <div class="col col-sm-12 col-md-10 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <i class="fa-solid fa-list-check text-success fa-2xl align-self-baseline mt-2  me-3"></i>
          <h1 class="fs-2 py-1">
            <%= calendar.toLocaleDateString('en', { year: 'numeric' , month: 'short' , day: '2-digit' }) %>
          </h1>
        </div>
        
        <div class="card-body">
        <%if (todos.length > 0 ) {%>
          <!-- card body with tasks -->
          <p class="lead text-start">You have <span class="text-success"><strong><%= (left > 0) ? left : "no" %> <%= (left > 1) ? "tasks" : "task" %></strong></span> left to do. %> Would you like to add more?</p>
          <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#createTodo-modal" aria-expanded="false" aria-controls="createTodo-modal">
            <i class="fa-solid fa-circle-plus"></i> Add task
          </button>  
          
          <!-- task table -->
          <div class="table-responsive-lg mt-3">
            <table class="table table-hover table-sort table-arrows">
              <thead>
                <tr>
                  <th scope="col">Completion</th>
                  <th scope="col">Task</th>
                  <th scope="col">Pet</th>
                  <th scope="col">Date</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% todos.forEach (el=> { %>
                <!-- marking complete/incomplete -->
                <tr data-id='<%=el._id%>'>
                  <% if (el.completed==true) { %>
                  <td class="todo-complete">
                    <input type="checkbox" name="todoItem" id="<%=el._id%>"
                      class="form-check-input" checked>
                    <label for="<%=el._id%>" class="fw-bold form-check-label text-success">
                      Done
                      <span class="visually-hidden">. Uncheck to mark incomplete.</span>
                    </label>
                  </td>
                  <% } else if (el.completed==false) { %>
                  <td class="todo-incomplete">
                    <input type="checkbox" name="todoItem" id="<%=el._id%>" class="form-check-input" autocomplete="off">
                    <label for="<%=el._id%>" class="fw-bold form-check-label text-danger">
                      Not done
                      <span class="visually-hidden">. Check to mark complete.</span>
                    </label>
                  </td>
                  <% } %>
                  <td><%= el.todo %></td>
                  <td><%= el.petName %></td>
                  <td>
                    <%= el.date.toLocaleDateString('en', { year: 'numeric' , month: 'short' , day: '2-digit' }) %>
                  </td>
                  <td>
                    <!-- data to fill in edit modal -->
                    <button class="btn btn-success" title="Edit task" aria-label="Edit task"
                    data-bs-toggle="modal" 
                    data-bs-target="#todoEdit-modal" 
                    data-id='<%=el._id%>' 
                    data-todo='<%=el.todo%>' 
                    data-pet='<%=el.petName%>' 
                    data-date='<%=el.date%>'>
                    <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                  </td>
                  <!-- data to fill delete modal -->
                  <td>
                    <button class="btn btn-danger" title="Delete task" aria-label="Delete task" 
                    data-bs-toggle="modal" 
                    data-bs-target="#todoDelete-modal" 
                    data-id='<%=el._id%>'>
                    <i class="fa-solid fa-trash"></i>
                    </button>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div><!-- end task table -->
        </div><!-- end card body -->

        <!-- card footer -->
        <div class="card-footer d-flex flex-wrap justify-content-center gap-3">
          <a class="btn btn-outline-success my-3" href="/calendar">View all dates</a>
          <a class="btn btn-outline-primary my-3" href="/todos" <%= calendar.toISOString().slice(0, 10) != new Date().toISOString().slice(0,10) ? "" : "hidden" %>>View today's list</a>
        </div>
      <% } else { %>
        <!-- card body without tasks -->
          <p class="lead text-start">No tasks on this day. Would you like to add any?</p>
          <button class="btn btn-success" type="button" 
          data-bs-toggle="modal" 
          data-bs-target="#createTodo-modal" 
          aria-expanded="false" aria-controls="createTodo-modal">
            <i class="fa-solid fa-circle-plus"></i> Add task
          </button>  
        </div><!-- end card body -->
        <div class="card-footer d-flex flex-wrap justify-content-center gap-3">
          <a class="btn btn-outline-success" href="/calendar">View all dates</a>
          <a class="btn btn-outline-primary" href="/todos" <%= calendar.toISOString().slice(0, 10) != new Date().toISOString().slice(0,10) ? "" : "hidden" %>>View today's list</a>
        </div>
        <%}%>
      </div><!-- end card -->
    </div><!-- end column -->
  </div><!-- end todo list -->
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="/js/todo.js"></script>
</body>

</html>