<%- include("partials/header", {title: "Add tasks"}); %>

<body class="puppy-paw-background">
  <%- include('partials/nav.ejs', {active: "todos"}) %>
  <!-- users name -->

  <%- include('partials/modal-todo') %>
  <%- include('partials/modal-todo-delete') %>
<div class="container-fluid text-center py-3"><h4 class="text">
  <%= calendar ? calendar.toLocaleDateString('en',
  { year: 'numeric' , month: 'short' , day: '2-digit' }) : user.userName %>
</h4></div>

  <!-- ! todo list -->
  <div class="px-4 text-center">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <!-- Previous date -->
        <form action="/todos/previous/" method="post" id="previous" role="button" class="mb-3 w-auto">
          <input type="hidden" name="date" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date() %>">
          <button type="submit" class="btn btn-outline-success btn-lg" id="previousButton"><i class="fa-solid fa-angle-left"></i> Previous Day</button>  
        </form>
        
        <!-- Next date -->
        <form action="/todos/next/" method="post" id="next" role="button" class="mb-5 w-auto">
          <input type="hidden" name="date" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date() %>">
          <button type="submit" class="btn btn-outline-success btn-lg" id="nextButton">Next Day <i class="fa-solid fa-angle-right"></i></button>  
        </form>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6 mx-auto mb-3">
        <img class="mb-2" src="https://www.svgrepo.com/show/177662/clipboard-list.svg" alt="Clipboard with list"
        width="50" height="50">
        <%if (todos.length > 0 ) {%>
        <p class="text">You have <span class="text-success"><strong><%= left %> thing(s)</strong></span> left to do. %>
        </p>
        <div class="table-responsive-md">
          <table class="table table-hover table-sort table-arrows">
            <thead>
              <tr class="table-light">
                <th scope="col">Done?</th>
                <th scope="col">Task</th>
                <th scope="col">Pet</th>
                <th scope="col">Date</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% todos.forEach (el=> { %>
                <tr data-id='<%=el._id%>'>
                  <% if (el.completed==true) { %>
                    <td class="text-primary todo-complete">
                      <input type="checkbox" name="todoItem" id="<%=el._id%>"
                        checked="" class="list-group-item-check pe-none">
                      <label for="<%=el._id%>">
                        <span class="sr-only">Task done. Uncheck to mark incomplete.</span>
                        <i class="fa-regular fa-square-check fa-2xl"></i>
                      </label>
                    </td>
                    <% } else if (el.completed==false) { %>
                      <td class="text-primary todo-incomplete">
                        <input type="checkbox" name="todoItem" id="<%=el._id%>"
                          checked=""
                          class="list-group-item-check pe-none">
                        <label for="<%=el._id%>">
                          <span class="sr-only">Task not done. Check to mark complete.</span>
                          <i class="fa-regular fa-square fa-2xl"></i>
                        </label>
                      </td>
                      <% } %>
                        <td>
                          <%= el.todo %>
                        </td>
                        <td>
                          <%= el.petName %>
                        </td>
                        <td>
                          <%= el.date.toLocaleDateString('en', { year: 'numeric' , month: 'short' , day: '2-digit' }) %>
                        </td>
                        <td><button class="btn btn-success" title="Edit task" aria-label="Edit task"  data-bs-toggle="modal" data-bs-target="#todoEdit-modal" data-id='<%=el._id%>' data-todo='<%=el.todo%>' data-pet='<%=el.petName%>' data-date='<%=el.date%>'><i class="fa-solid fa-pen-to-square"></i></button></td>
                        <td><button class="btn btn-danger" title="Delete task" aria-label="Delete task" data-bs-toggle="modal" data-bs-target="#todoDelete-modal" data-id='<%=el._id%>'><i class="fa-solid fa-trash"></i></button></td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
          <div>
            <p class="lead"><a class="btn btn-outline-success" href="/calendar">View all dates</a></p>
            <a class="btn btn-outline-primary" href="/todos" <%= calendar.toISOString().slice(0, 10) != new Date().toISOString().slice(0,10) ? "" : "hidden" %>>View today's list</a>
          </div>
        <% } else { %>
          <div class="col-lg-6 mx-auto mb-3">
            <h2>No tasks on this day</h2>
            <p class="lead"><a class="btn btn-outline-success mt-3" href="/calendar">View all dates</a></p>
            <a class="btn btn-outline-primary" href="/todos" <%= calendar.toISOString().slice(0, 10) != new Date().toISOString().slice(0,10) ? "" : "hidden" %>> View today's list </a>
          </div>
          <%}%>
        </div>


      <!-- Add task (form) -->
      <div class="col-lg-4 col-md-6 mx-auto" aria-labelledby="addtask" role="form">
        <img class="mb-2" src="https://www.svgrepo.com/show/177647/clipboard-list.svg" aria-hidden="true" width="50"
          height="50">
        <h2 class="text-success mb-3" id="addtask" aria-hidden="true">Add a task:</h2>
        <%- include("partials/form-todo") %>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"></script>
    <script src="/js/todo.js"></script>
</body>

</html>