<%- include("partials/header", {title: "Daily to-do list"}); %>

<body class="puppy-paw-background">
  <%- include('partials/nav.ejs', {active: "todos"}) %>
  
  <!-- Modals -->
  <%- include("partials/modal-blank", {id: "createTodo-modal", title: "Create a task", textcolor: "text-dark", partial: "form-todo-create", footer: "no" }) %>

  <%- include("partials/modal-blank", {id: "todoEdit-modal", title: "Edit a task", textcolor: "text-dark", partial: "form-todo-edit", footer: "no" }) %>

  <%- include("partials/modal-blank", {id: "todoDelete-modal", title: "Delete a task", textcolor: "text-danger", partial: "form-todo-delete", footer: "no" }) %> 

<main id="content">
  <!-- previous/next dates -->
  <div class="row mx-2">
      <div class="d-flex justify-content-between mt-3 gap-2">

        <form action="/todos/previous/" method="post" id="previous" role="button" class="mb-3 w-auto">
          <input type="hidden" name="date" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date().toISOString().slice(0, 10) %>">
          <button type="submit" class="btn btn-outline-success" id="previousButton"><i class="fa-solid fa-angle-left"></i> Previous Day</button>  
        </form>
        
        <form action="/todos/next/" method="post" id="next" role="button" class="mb-3 w-auto">
          <input type="hidden" name="date" value="<%= calendar ? calendar.toISOString().slice(0, 10) : new Date().toISOString().slice(0, 10) %>">
          <button type="submit" class="btn btn-outline-success" id="nextButton">Next Day <i class="fa-solid fa-angle-right"></i></button>  
        </form>
      </div>
  </div>

  <!-- todo list -->
  <div class="row mx-2 mb-4">
    <div class="col col-sm-12 col-md-10 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-header d-flex align-items-center px-2">
          <i class="fa-solid fa-list-check text-success fa-xl align-self-baseline mt-2 pt-sm-1 me-1 me-sm-2"></i>
          <h1 class="fs-2 py-1">
            <%= calendar.toLocaleDateString('en', { year: 'numeric' , month: 'long' , day: '2-digit' }) %>
          </h1>
        </div>
        
      <div class="card-body">
        <%if (todos.length > 0 ) {%>
          <!-- card body with tasks -->
            <p class="lead text-start w-auto">You have <span class="text-success"><strong><%= (left > 0) ? left : "no" %> <%= (left > 1) ? "tasks" : "task" %></strong></span> left to do. %> Would you like to add more?</p>
            <button class="btn btn-success btn-lg mb-3" type="button" data-bs-toggle="modal" data-bs-target="#createTodo-modal" aria-expanded="false" aria-controls="createTodo-modal">
              <i class="fa-solid fa-circle-plus"></i> Add task
              <span class="visually-hidden">, this opens a modal</span>
            </button>  
          <div class="list-group gap-3">
          <% todos.forEach (el=> { %>
            <div class="list-group w-auto">
              <div class="list-group-item list-group-item-action justify-content-between d-flex gap-3 py-3 flex-wrap" data-id='<%=el._id%>'>
                <label class="d-flex gap-3 w-100 justify-content-between w-auto <%= el.completed===true ? 'todo-complete' : 'todo-incomplete' %>">
                  <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;" <%= el.completed===true ? 'checked' : ' ' %>>
                  <span class="visually-hidden"><%= el.completed===true ? 'Task done, check to change status' : 'Task not done, uncheck to change status' %></span>
                  <span class="pt-1 <%= el.completed===true ? 'text-muted' : ' ' %>">
                    <strong><%= el.todo %></strong>
                    <small class="d-block">
                      <i class="fa-solid fa-paw"></i>
                      Pet: <%= el.petName %>
                    </small>
                  </span>
                </label>
                <!-- data to fill in edit modal -->
                <div data-id='<%=el._id%>' class="d-inline">
                  <button class="btn btn-outline-success mt-2 me-3" title="Edit task"
                  data-bs-toggle="modal" 
                  data-bs-target="#todoEdit-modal" 
                  data-id='<%=el._id%>' 
                  data-todo='<%=el.todo%>' 
                  data-pet='<%=el.petName%>' 
                  data-date='<%=el.date%>'>
                  <i class="fa-solid fa-pen-to-square"></i> Edit task
                  <span class="visually-hidden">, this opens a modal</span>
                  </button>
                  <!-- data to fill delete modal -->
                  <button class="btn btn-outline-danger mt-2" title="Delete task" 
                  data-bs-toggle="modal" 
                  data-bs-target="#todoDelete-modal" 
                  data-id='<%=el._id%>'>
                  <i class="fa-solid fa-trash"></i> Delete task                  
                  <span class="visually-hidden">, this opens a modal</span>
                  </button>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <!-- card footer -->
        <div class="card-footer d-flex flex-wrap justify-content-center gap-3">
          <a class="btn btn-outline-success my-3" href="/calendar">View all dates</a>
          <a class="btn btn-outline-primary my-3" href="/todos" <%= calendar.toISOString().slice(0, 10) != new Date().toISOString().slice(0,10) ? "" : "hidden" %>>View today's list</a>
        </div>
      <% } else { %>
        <!-- card body without tasks -->
          <p class="lead text-start">No tasks on this day. Would you like to add any?</p>
          <button class="btn btn-lg btn-success" type="button" 
          data-bs-toggle="modal" 
          data-bs-target="#createTodo-modal" 
          aria-expanded="false" aria-controls="createTodo-modal">
            <i class="fa-solid fa-circle-plus"></i> Add task
            <span class="visually-hidden">, this opens a modal</span>
          </button>  
        </div><!-- end card body -->
        <div class="card-footer d-flex flex-wrap justify-content-center gap-3">
          <a class="btn btn-outline-success" href="/calendar">View all dates</a>
          <a class="btn btn-outline-primary" href="/todos" <%= calendar.toISOString().slice(0, 10) != new Date().toISOString().slice(0,10) ? "" : "hidden" %>>View today's list</a>
        </div>
        <%}%>
      </div><!-- end card -->
    </div><!-- end column -->
  </div><!-- end todo list -->
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="/js/todo.js"></script>
</body>

</html>